spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/paranote?currentSchema=para
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: always
      schema-locations: classpath:db/schema.sql
      data-locations: classpath:db/initial.sql
      encoding: UTF-8
      continue-on-error: false

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true
        jdbc:
          time_zone: UTC
        default_schema: para
    open-in-view: false
    defer-datasource-initialization: true

